<section class="text-gray-700 dark:text-gray-400 bg-white dark:bg-[#3C3E40]">
  <div class="w-11/12 lg:w-[98%] xl:w-5/6 mx-auto bg-white dark:bg-[#3C3E40]">
    <h1 class="text-white pl-5 py-5">Startup controls</h1>
    <hr class="border-lime-500" />

    <!-- -----------------FOR DESKTOP/LAPTOP--------------------->

    <!-- HEADINGS -->
    <div class=" lg:flex hidden justify-around pt-12 ">
      <div></div>
      <h2 class="relative left-7"><i class="bi bi-thermometer-high text-yellow-500 "></i>
        Burners
      </h2>
      <h2 class="relative left-10"><i class="bi bi-arrow-left-right"></i> Mixers</h2>
      <div></div>
      <h2 class="relative left-12">Paint temp setting</h2>
      <h2 class="relative left-10">Current value</h2>
      <div></div>
      <h2 class="relative left-7">Oil temp setting</h2>
      <h2 class="relative left-4">Current value</h2>
    </div>

    <!-- LOOP HERE -->
    <div class="hidden lg:flex flex-row justify-between" *ngFor="let us of UserSettings.Tanks">
      <div class="w-5/6 lg:w-[33%] mx-auto pb-10 lg:pb-0">
        <div class="flex py-2 justify-around">
          <h3 class="pr-5">T{{us.id}}</h3>
          <!-- SWITCHES -->
          <label class="flex items-center relative w-max cursor-pointer select-none mx-5">
            <input type="checkbox" [value]="us.BurnerSet" [checked]="us.BurnerSet"
              class="appearance-none transition-colors cursor-pointer w-14 h-5 rounded-full focus:outline-none  bg-red-500" />
            <span class="absolute font-medium text-xs uppercase right-1 text-white"> OFF </span>
            <span class="absolute font-medium text-xs uppercase right-8 text-white"> ON </span>
            <span class="w-6 h-6 right-7.5 absolute rounded-full transform transition-transform bg-gray-200"
              style="width: 28px; height: 28px;">
            </span>
          </label>
          <label class="flex items-center relative w-max cursor-pointer select-none mx-5">
            <input type="checkbox" [value]="us.MixerSet" [checked]="us.MixerSet"
              class="appearance-none transition-colors cursor-pointer w-14 h-5 rounded-full focus:outline-none  bg-red-500" />
            <span class="absolute font-medium text-xs uppercase right-1 text-white"> OFF </span>
            <span class="absolute font-medium text-xs uppercase right-8 text-white"> ON </span>
            <span class="w-6 h-6 right-7.5 absolute rounded-full transform transition-transform bg-gray-200"
              style="width: 28px; height: 28px;">
            </span>
          </label>
        </div>
      </div>


      <div class="w-5/6 lg:w-[33%] mx-auto pb-7 lg:pb-0">

        <div class="flex py-2 justify-around items-center">
          <h3>T{{us.id}}</h3>
          <input type="range" min="0" max="500" (change)="changeRangeValuePaint($event, us.id)" value="{{us.PaintSet}}"
            class="range w-44 bg-white range-accent range-xs" />
          <div>
            <span
              class="badge badge-lg px-5 bg-gray-200 dark:bg-gray-800 border-none text-gray-700 dark:text-white ">{{us.PaintSet}}</span>
          </div>
        </div>

      </div>
      <div class="w-5/6 lg:w-[33%] mx-auto pb-7 lg:pb-0">
        <div class="flex py-2 justify-around items-center">
          <h3>T{{us.id}}</h3>
          <input type="range" min="0" max="500" (change)="changeRangeValueOil($event, us.id)" value="{{us.OilSet}}"
            class="range w-44 bg-white range-accent range-xs" />
          <div>
            <span
              class="badge badge-lg px-5 bg-gray-200 dark:bg-gray-800 border-none text-gray-700 dark:text-white ">{{us.OilSet}}</span>
          </div>
        </div>

      </div>
    </div>

    <!----------------------- FOR DESKTOP/LAPTOP END----------------------->


    <!--------------------------- FOR TAB/MOBILE --------------------------->

    <div class="flex flex-col lg:hidden justify-between pt-14">
      <div class="w-5/6 lg:w-[33%] mx-auto pb-10 lg:pb-0">

        <!-- HEADING TEXT -->
        <div class="flex justify-around pb-2">
          <div></div>
          <h2 class=""><i class="bi bi-thermometer-high text-yellow-500"></i>
            Burners
          </h2>
          <h2 class=""><i class="bi bi-arrow-left-right"></i> Mixers</h2>
        </div>

        <!-- RUN LOOP 1 of 3 (MOBILE) -->
        <div class="flex py-2 justify-around" *ngFor="let us of UserSettings.Tanks">
          <h3 class="pr-5">T{{us.id}}</h3>
          <!-- SWITCHES -->
          <label class="flex items-center relative w-max cursor-pointer select-none mx-5">
            <input type="checkbox" [value]="us.BurnerSet" [checked]="us.BurnerSet"
              class="appearance-none transition-colors cursor-pointer w-14 h-5 rounded-full focus:outline-none  bg-red-500" />
            <span class="absolute font-medium text-xs uppercase right-1 text-white"> OFF </span>
            <span class="absolute font-medium text-xs uppercase right-8 text-white"> ON </span>
            <span class="w-6 h-6 right-7.5 absolute rounded-full transform transition-transform bg-gray-200"
              style="width: 28px; height: 28px;">
            </span>
          </label>
          <label class="flex items-center relative w-max cursor-pointer select-none mx-5">
            <input type="checkbox" [value]="us.MixerSet" [checked]="us.MixerSet"
              class="appearance-none transition-colors cursor-pointer w-14 h-5 rounded-full focus:outline-none  bg-red-500" />
            <span class="absolute font-medium text-xs uppercase right-1 text-white"> OFF </span>
            <span class="absolute font-medium text-xs uppercase right-8 text-white"> ON </span>
            <span class="w-6 h-6 right-7.5 absolute rounded-full transform transition-transform bg-gray-200"
              style="width: 28px; height: 28px;">
            </span>
          </label>
        </div>
      </div>


      <!-- HEADING TEXT -->
      <div class="flex justify-around pb-2">
        <div></div>
        <h2 class="">Paint temp setting</h2>
        <h2 class="">Current value</h2>
      </div>

      <!-- RUN LOOP 2 of 3 (MOBILE) -->
      <div class="w-5/6 lg:w-[33%] mx-auto pb-2 -mt-1 lg:pb-0" *ngFor="let us of UserSettings.Tanks">

        <div class="flex justify-around items-center">
          <h3 class="pr-4">T{{us.id}}</h3>
          <input type="range" min="0" max="500" (change)="changeRangeValuePaint($event, us.id)" value="{{us.PaintSet}}"
            class="range w-64 bg-white range-accent range-xs" />
          <div>
            <span class="badge badge-lg px-3 ml-2 text-white"
              style="background-color: #2B4050; border: none">{{us.PaintSet}}</span>
          </div>
        </div>
      </div>

      <!-- HEADING TEXT -->
      <div class="flex justify-around pb-2 mt-6">
        <div></div>
        <h2 class="">Oil temp setting</h2>
        <h2 class="">Current value</h2>
      </div>

      <!-- RUN LOOP 3 of 3 (MOBILE) -->
      <div class="w-5/6 lg:w-[33%] mx-auto mt-1 lg:pb-0" *ngFor="let us of UserSettings.Tanks">
        <div class="flex justify-around items-center">
          <h3 class="pr-4">T{{us.id}}</h3>
          <input type="range" min="0" max="500" (change)="changeRangeValueOil($event, us.id)" value="{{us.OilSet}}"
            class="range w-64 bg-white range-accent range-xs" />
          <div>
            <span class="badge badge-lg  px-3 ml-2  text-white"
              style="background-color: #2B4050; border: none">{{us.OilSet}}</span>
          </div>
        </div>
      </div>
    </div>

    <!-- ---------------------FOR TAB/MOBILE END------------------------->

    <!-- ----------------------BOTTOM SECTION--------------------------- -->

    <hr class="border-gray-500 my-7" />
    <div class="flex flex-col lg:flex-row pb-20">
      <div class="flex justify-between w-5/6 lg:w-[33%] mx-auto py-3 lg:px-5">
        <h3><i class="bi bi-alarm-fill text-yellow-400 pl-2 lg:px-7"></i> Oil pump yellow</h3>
        <label class="flex items-center relative w-max cursor-pointer select-none mx-5">
          <input type="checkbox" [value]="UserSettings.OilYellowSet" [checked]="UserSettings.OilYellowSet"
            class="appearance-none transition-colors cursor-pointer w-14 h-5 rounded-full focus:outline-none  bg-red-500" />
          <span class="absolute font-medium text-xs uppercase right-1 text-white"> OFF </span>
          <span class="absolute font-medium text-xs uppercase right-8 text-white"> ON </span>
          <span class="w-6 h-6 right-7.5 absolute rounded-full transform transition-transform bg-gray-200"
            style="width: 28px; height: 28px;">
          </span>
        </label>
      </div>
      <div class="flex justify-between w-5/6 lg:w-[33%] mx-auto py-3 lg:px-5">

        <h3><i class="bi bi-alarm-fill px-2 lg:px-7"></i> Oil pump white</h3>
        <label class="flex items-center relative w-max cursor-pointer select-none mx-5">
          <input type="checkbox" [value]="UserSettings.OilWhiteSet" [checked]="UserSettings.OilWhiteSet"
            class="appearance-none transition-colors cursor-pointer w-14 h-5 rounded-full focus:outline-none  bg-red-500" />
          <span class="absolute font-medium text-xs uppercase right-1 text-white"> OFF </span>
          <span class="absolute font-medium text-xs uppercase right-8 text-white"> ON </span>
          <span class="w-6 h-6 right-7.5 absolute rounded-full transform transition-transform bg-gray-200"
            style="width: 28px; height: 28px;">
          </span>
        </label>
      </div>
      <div class="flex justify-between w-5/6 lg:w-[33%] mx-auto py-3 lg:px-5">

        <h3><i class="bi bi-lightbulb text-yellow-400 px-2 lg:px-7"></i> Platform light</h3>
        <label class="flex items-center relative w-max cursor-pointer select-none mx-5">
          <input type="checkbox" [value]="UserSettings.LightSet" [checked]="UserSettings.LightSet"
            class="appearance-none transition-colors cursor-pointer w-14 h-5 rounded-full focus:outline-none  bg-red-500" />
          <span class="absolute font-medium text-xs uppercase right-1 text-white"> OFF </span>
          <span class="absolute font-medium text-xs uppercase right-8 text-white"> ON </span>
          <span class="w-6 h-6 right-7.5 absolute rounded-full transform transition-transform bg-gray-200"
            style="width: 28px; height: 28px;">
          </span>
        </label>
      </div>
    </div>
  </div>
</section>