<div style="width: 100%">
    <!-- Header -->
    <app-form-header [title]="'headerTitle' | translate" [subTitle]="'headerSubTitle' | translate"></app-form-header>
    <div *ngIf="spinner" class="flex items-center justify-center">
        <div style="border-top-color:transparent; position: absolute;z-index: 9999;"
             class="absolute top-1/2 left-1/2 w-16 h-16 border-4 border-blue-400 border-dashed rounded-full animate-spin">
        </div>
    </div>


    <!-- Main Start -->
    <div class="flex-auto m-7 body-color">
        <mat-card class="tab-color -mt-4">

            <div class="flex flex-col bg-card shadow rounded overflow-hidden">
                <div class="heading">
                    <h1>{{'formTitle' | translate}}</h1>
                </div>
            </div>
            <!-- Card Body -->
            <form [formGroup]="frmGroup" (ngSubmit)="onSubmit()" #inputForm="ngForm" class="p-4 border3 form-bg-color">
                <!--<div style="padding: 10px;">
                    <h1 style="text-align: center; font-size: larger; font-weight: bold; font-size: 25px; font-style: italic"><span>{{'createGoLetter' | translate}}</span></h1>
                </div>-->
                <div class="flex justify-between md:mt-5">
                    <div style="float: left" class="text-align-centre text-align-justify">
                        <h1 style="text-align: left; font-size: larger; font-weight: bold;">
                            <span>{{'installmentInformation' | translate}}</span></h1>
                        <div class="mt-3">
                            <p>
                                <span style="font-weight: bold;">{{'installmentFor' | translate}}
                                    :</span> {{getInstallmentType}}
                            </p>
                            <p>
                                <span style="font-weight: bold;">{{'amount' | translate}}:</span> {{getTkAmount}}
                            </p>
                        </div>
                    </div>

                    <div class="text-align-centre text-align-justify">
                        <h1 style="text-align: left; font-size: larger; font-weight: bold;">
                            <span>{{'researcherInformation' | translate}}</span></h1>
                        <div class="mt-3">
                            <p>
                                <span style="font-weight: bold;">{{'researchTitle' | translate}}
                                    :</span> {{getResearchTitle}}
                            </p>
                            <p>
                                <span style="font-weight: bold;">{{'category' | translate}}:</span> {{getCategory}}
                            </p>
                            <p>
                                <span style="font-weight: bold;">{{'fiscalYear' | translate}}:</span> {{getFiscalYear}}
                            </p>
                        </div>
                    </div>
                </div>

                <!-- -----------4rd Row----------- -->
                <div class="md:flex" style="margin-top: 50px;">
                    <div class="w-full sm:w-auto md:w-20 lg:w-20 md:text-left pr-2 md:pt-3">
                        <span class="text-gray-700">
                            {{'subject' | translate}}<strong class="required">*</strong>
                        </span>
                    </div>

                    <div class="w-full">
                        <mat-form-field class="w-full">
                            <input matInput formControlName="subject" placeholder="Write Your Subject... "/>
                        </mat-form-field>
                    </div>
                </div>

                <div class="md:flex">
                    <div class="w-full sm:w-auto md:w-20 lg:w-20 md:text-left pr-2 md:pt-3">
                        <span class="text-gray-700">
                            {{'templateType' | translate}}<strong class="required">*</strong>
                        </span>
                    </div>

                    <mat-form-field class="w-full">
                        <mat-select placeholder="Select One"
                                    formControlName="templateType"
                                    [compareWith]="compareFn"
                                    (selectionChange)="selectTemplateType($event.value)">
                            <mat-option *ngFor="let templateType of templateType"
                                        [value]="templateType">{{templateType.templateType}}</mat-option>
                        </mat-select>
                        <mat-error>required!</mat-error>
                    </mat-form-field>
                </div>

                <div class="md:flex">
                    <div class="w-full sm:w-auto md:w-20 lg:w-20 md:text-left pr-2 md:pt-3">
                        <span class="text-gray-700">
                            {{'predefineTemplate' | translate}}<strong class="required">*</strong>
                        </span>
                    </div>

                    <mat-form-field class="w-full">
                        <mat-select placeholder="Select One"
                                    formControlName="predefineTemplate"
                                    [compareWith]="compareFn"
                                    (selectionChange)="selectPredefinedTemplate($event.value)">
                            <mat-option *ngFor="let predifinedTemplate of predifinedTemplate"
                                        [value]="predifinedTemplate">{{predifinedTemplate.subject}}</mat-option>
                        </mat-select>
                        <mat-error>required!</mat-error>
                    </mat-form-field>
                </div>

                <!-- -----------5rd Row----------- -->
                <div class="md:flex" style="margin-left: -10px">
                    <div class="w-full sm:w-auto md:w-20 lg:w-20 ml-2 md:text-left pr-2 md:pt-3">
                        <span class="text-gray-700">
                            {{'mailBody' | translate}}<strong class="required">*</strong>
                        </span>
                    </div>
                    <div class="w-full">
                        <ckeditor #ckeditor formControlName="mailData">data</ckeditor>
                    </div>
                </div>


                <div class="md:flex" style="margin-left: -7px ;margin-top: 12px">

                    <div class="w-full sm:w-auto md:w-20 lg:w-20 md:text-left pr-2 md:pt-3">
                        <span class="text-gray-700">
                            {{'enothi_number' | translate}}
                       <!-- <strong class="required">*</strong> -->
                        </span>
                    </div>

                    <div class="w-full">
                        <mat-form-field class="w-full">
                            <input matInput formControlName="enothiNumber" placeholder="Write E-Nothi Number "/>
                        </mat-form-field>
                    </div>
                </div>

                <div class="md:flex" style="margin-left: -7px ;margin-top: 12px">

                    <div class="w-full sm:w-auto md:w-20 lg:w-20 md:text-left pr-2 md:pt-3">
                        <span class="text-gray-700">
                            {{'bn_date' | translate}}  <!-- <strong class="required">*</strong> -->
                        </span>
                    </div>

                    <div class="w-full">
                        <mat-form-field class="w-full">
                            <input matInput formControlName="bnDate" placeholder="Write Bangla Date "/>
                        </mat-form-field>
                    </div>
                </div>


                <div class="md:flex" style="margin-left: -7px ;margin-top: 12px">

                    <div class="w-full sm:w-auto md:w-20 lg:w-20 md:text-left pr-2 md:pt-3">
                        <span class="text-gray-700">
                            {{'en_date' | translate}}  <!-- <strong class="required">*</strong> -->
                        </span>
                    </div>

                    <div class="w-full">
                        <mat-form-field class="w-full">
                            <input matInput formControlName="enDate" placeholder="Write English Date "/>
                        </mat-form-field>
                    </div>
                </div>

                <div class="md:flex" style="margin-left: -7px ;margin-top: 12px">

                    <div class="w-full sm:w-auto md:w-20 lg:w-20 md:text-left pr-2 md:pt-3">
                        <span class="text-gray-700">
                            {{'approvedStatus' | translate}}  <!-- <strong class="required">*</strong> -->
                        </span>
                    </div>

                    <div class="w-full">
                        <mat-form-field class="w-full">
                            <mat-select placeholder="Select Status"
                                        formControlName="approvedStatus">
                                <mat-option value="Approved">Approved</mat-option>
                                <mat-option value="Not Approved">Not Approved</mat-option>
                            </mat-select>
                            <mat-error>required!</mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="flex justify-end mt-3">
                    <div class="mr-5">
                        <button
                            class="px-5 previous-button"
                            mat-flat-button
                            style="background: #2F4F4F; color: white"
                            (click)="back()"
                            type="button">
                            <mat-icon *ngIf="previousIcon" class="mr-1">{{previousIcon}}</mat-icon>
                            {{'previous' | translate}}
                        </button>
                    </div>
                    <div class="mr-5">
                        <button class="px-5 pr-4" mat-raised-button color="accent" type="button" (click)="reset()">
                            <mat-icon class="mr-1" style="color: white">{{refreshIcon}}</mat-icon>
                            {{'reset' | translate}}
                        </button>
                    </div>
                    <div *ngIf="formTitle == 'Save'" class="mr-5">
                        <button class="px-5" mat-raised-button color="primary" type="submit">
                            <mat-icon class="mr-1">save</mat-icon>
                            {{'save' | translate}}
                        </button>
                    </div>

                    <div *ngIf="formTitle == 'Edit'" class="mr-5">
                        <button class="px-5" mat-raised-button color="warn" type="submit">
                            <mat-icon class="mr-1">update</mat-icon>
                            <div>{{'update' | translate}}</div>
                        </button>
                    </div>
                    <!--                    <div *ngIf="formTitle == 'Edit'" class="mr-5">-->
                    <!--                        <button class="px-5" mat-raised-button type="submit" style="background: royalblue;color:white">-->
                    <!--                            <mat-icon class="mr-1">print</mat-icon>-->
                    <!--                            <div>{{'print' | translate}}</div>-->
                    <!--                        </button>-->
                    <!--                    </div>-->
                </div>
            </form>
        </mat-card>
    </div>
</div>



