<section class="min-h-screen bg-white dark:bg-[#3C3E40] text-gray-700 dark:text-gray-400">
  <div class="w-11/12 lg:w-[98%] xl:w-5/6 mx-auto bg-white dark:bg-[#3C3E40]">
    <h1 class="text-gray-700 dark:text-white pl-5 py-5">Overview</h1>
    <hr class="border-red-500" />

    <!--    list of Tanks data-->
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-2">
      <div class="flex flex-col md:flex-row" *ngFor="let tank of StatusReport.Tanks">
        <!-- CIRCULAR PROGRESS GROUP -->
        <div class="px-5 flex md:w-1/2 mx-auto py-7 md:py-0">
          <div class="px-2">
            <h2 class="py-5">T{{tank.id}} paint temp</h2>
            <div class="radial-progress font-extrabold border-4 border-gray-200 dark:border-gray-400"
                 style="--value:100*{{tank.PaintTemp}}/250; --size:6rem; color: RGB(100, {{tank.PaintTemp}}, 0)"><span class="text-black dark:text-white">{{tank.PaintTemp}}°c</span>
            </div>
          </div>
          <div class="px-2">
            <h2 class="py-5">T{{tank.id}} oil temp</h2>
            <div class="radial-progress font-extrabold border-4  border-gray-200 dark:border-gray-400"
                 style="--value:100*{{tank.OilTemp}}/250; --size:6rem; --min:0; --max:255; color: RGB(100, {{tank.OilTemp}}, 0)"><span class="text-black dark:text-white">{{tank.OilTemp}}°c</span>
            </div>
          </div>
        </div>
        <!-- ICON GROUP -->
        <div class="md:w-1/2  mx-auto py-7 md:py-0">
          <div class="flex justify-center items-center">
            <i class="bi bi-thermometer-high text-yellow-500"></i>
            <h2 class="py-5 px-3">T{{tank.id}} Burner</h2>
            <span *ngIf="tank.Burner == true">
              <button
                class="px-3 py-1 font-semibold text-sm bg-gray-100 dark:bg-gray-600 mx-5 mr-7 text-lime-400">ON</button>
            </span>
            <span *ngIf="tank.Burner == false">
              <button
                class="px-2 py-1  bg-gray-100 dark:bg-gray-600 font-semibold text-sm mx-5 text-red-500">OFF</button>
            </span>
          </div>
          <div class="flex justify-center items-center">
            <i class="bi bi-arrow-left-right"></i>
            <h2 class="py-5 px-3">T{{tank.id}} Mixer</h2>
            <span *ngIf="tank.Mixer == true">
              <button
                class="px-3 py-1  bg-gray-100 dark:bg-gray-600 font-semibold text-sm mx-5 text-lime-400">ON</button>
            </span>
            <span *ngIf="tank.Mixer == false">
              <button
                class="px-2 py-1  bg-gray-100 dark:bg-gray-600 font-semibold text-sm mx-5 mr-2 text-red-500">OFF</button>
            </span>
          </div>
          <div class="flex justify-center items-center">
            <i class="bi bi-alarm-fill"></i>
            <h2 class="py-5 px-3">T{{tank.id}} Alarm</h2>
            <span *ngIf="tank.Alarm == true">
              <button
                class="px-3 py-1  bg-gray-100 dark:bg-gray-600 font-semibold text-sm mx-5 text-lime-400">ON</button>
            </span>
            <span *ngIf="tank.Alarm == false">
              <button
                class="px-2 py-1  bg-gray-100 dark:bg-gray-600 font-semibold text-sm mx-5 mr-2 text-red-500">OFF</button>
            </span>
          </div>
        </div>
      </div>
    </div>

    <hr class="border-gray-500 my-5" />

    <div class="flex flex-col md:flex-row justify-between md:text-sm lg:text-regular pb-20">
      <div class="px-3 lg:px-7 py-7 md:py-0">
        <div class="flex justify-center items-center">
          <i class="bi bi-stopwatch-fill text-yellow-500"></i>
          <h2 class="py-5 px-3">Oil pump yellow</h2>
          <span *ngIf="StatusReport.OilYellow == false">
            <button class="px-3 py-1  bg-gray-100 dark:bg-gray-600 font-semibold text-sm mx-5 text-red-500">OFF</button>
          </span>
          <span *ngIf="StatusReport.OilYellow == true">
            <button class="px-3 py-1  bg-gray-100 dark:bg-gray-600 mx-5 text-sm font-semibold text-lime-400">ON</button>
          </span>
        </div>
        <div class="flex justify-center items-center">
          <i class="bi bi-stopwatch-fill"></i>
          <h2 class="py-5 px-3">Oil pump white</h2>
          <span *ngIf="StatusReport.OilWhite == false">
            <button class="px-3 py-1  bg-gray-100 dark:bg-gray-600 mx-5 text-sm font-semibold text-red-500">OFF</button>
          </span>
          <span *ngIf="StatusReport.OilWhite == true">
            <button class="px-3 py-1  bg-gray-100 dark:bg-gray-600 mx-5 text-sm font-semibold text-lime-400">ON</button>
          </span>
        </div>
        <div class="flex justify-center items-center">
          <i class="bi bi-lightbulb"></i>
          <h2 class="py-5 px-3">Platform light(s)</h2>
          <span *ngIf="StatusReport.LightS == false">
            <button class="px-3 py-1  bg-gray-100 dark:bg-gray-600 mx-5 font-semibold text-red-500">OFF</button>
          </span>
          <span *ngIf="StatusReport.LightS == true">
            <button class="px-3 py-1  bg-gray-100 dark:bg-gray-600 mx-5 font-semibold text-lime-400">ON</button>
          </span>
        </div>
      </div>
      <div class="px-3 lg:px-7 py-7 md:py-0">
        <div class="flex justify-center items-center">
          <i class="bi bi-clipboard2"></i>
          <h2 class="py-5 px-3 pr-10 lg:pr-14">Diesel level</h2>
          <button class="px-3 py-1  bg-gray-100 dark:bg-gray-600 mx-5">{{StatusReport.FuelLevel}}%</button>
        </div>
        <div class="flex justify-center items-center">
          <i class="bi bi-bezier"></i>
          <h2 class="py-5 px-3">Applicator temp L</h2>
          <button class="px-3 py-1  bg-gray-100 dark:bg-gray-600 mx-5">{{StatusReport.LeftTemp}}°c</button>
        </div>
        <div class="flex justify-center items-center">
          <i class="bi bi-bezier"></i>
          <h2 class="py-5 px-3">Applicator temp R</h2>
          <button class="px-3 py-1  bg-gray-100 dark:bg-gray-600 mx-5">{{StatusReport.RightTemp}}°c</button>
        </div>
      </div>
      <div class="px-3 lg:px-7 py-7 md:py-0">
        <div class="flex justify-center items-center">
          <i class="bi bi-alarm-fill"></i>
          <h2 class="py-5 px-3">Hydro-temp alarm</h2>
          <span *ngIf="StatusReport.TempAlarm == false">
            <button class="px-3 py-1  bg-gray-100 dark:bg-gray-600 font-semibold mx-5 text-red-500">OFF</button>
          </span>
          <span *ngIf="StatusReport.TempAlarm == true">
            <button class="px-3 py-1  bg-gray-100 dark:bg-gray-600 font-semibold mx-5 text-lime-400">ON</button>
          </span>
        </div>
        <div class="flex justify-center items-center">
          <i class="bi bi-alarm-fill"></i>
          <h2 class="py-5 px-3">Hydro-level alarm </h2>
          <span *ngIf="StatusReport.LevelAlarm == false">
            <button class="px-3 py-1  bg-gray-100 dark:bg-gray-600 font-semibold mx-5 text-red-500">OFF</button>
          </span>
          <span *ngIf="StatusReport.LevelAlarm == true">
            <button class="px-3 py-1  bg-gray-100 dark:bg-gray-600 font-semibold mx-5 text-lime-400">ON</button>
          </span>
        </div>
        <div class="flex justify-center items-center">
          <i class="bi bi-alarm-fill"></i>
          <h2 class="py-5 px-3">Diesel level alarm</h2>
          <span *ngIf="StatusReport.DieselAlarm == false">
            <button class="px-3 py-1  bg-gray-100 dark:bg-gray-600 font-semibold mx-5 text-red-500">OFF</button>
          </span>
          <span *ngIf="StatusReport.DieselAlarm == true">
            <button class="px-3 py-1  bg-gray-100 dark:bg-gray-600 font-semibold mx-5 text-lime-400">ON</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
