<section class="min-h-screen" style="background-color: #3C3E40">
  <div class="w-11/12 lg:w-[98%] xl:w-5/6 mx-auto"style="background-color: #31363E">
    <h1 class="text-white pl-5 py-5">Overview</h1>
    <hr class="border-red-500"/>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-2">

      <div class="flex flex-col md:flex-row">

        <!-- CIRCULAR PROGRESS GROUP -->
        <div class="px-5 flex md:w-1/2 mx-auto py-7 md:py-0">
          <div class="px-2">
            <h2 class="py-5">T1 paint temp</h2>
            <div class="radial-progress bg-gray-700 text-lime-700 border-4 border-gray-700"
                 style="--value:70; --size:6rem">200°c
            </div>
          </div>
          <div class="px-2">
            <h2 class="py-5">T1 oil temp</h2>
            <div class="radial-progress bg-gray-700 text-lime-500 border-4 border-gray-700"
                 style="--value:70; --size:6rem">248°c
            </div>
          </div>
        </div>
        <!-- ICON GROUP -->
        <div class="md:w-1/2  mx-auto py-7 md:py-0">
          <div class="flex justify-center items-center">
            <i class="bi bi-thermometer-high text-yellow-500"></i>
            <h2 class="py-5 px-3">T1 Burner</h2>
            <button class="px-3 py-1 bg-gray-600 mx-5 text-lime-400">ON</button>
          </div>
          <div class="flex justify-center items-center">
            <i class="bi bi-arrow-left-right"></i>
            <h2 class="py-5 px-3">T1 Mixer</h2>
            <button class="px-3 py-1 bg-gray-600 mx-5 text-red-500">OFF</button>
          </div>
          <div class="flex justify-center items-center">
            <i class="bi bi-alarm-fill"></i>
            <h2 class="py-5 px-3">T1 Alarm</h2>
            <button class="px-3 py-1 bg-gray-600 mx-5 text-lime-400">ON</button>
          </div>
        </div>
      </div>
      <div class="flex flex-col md:flex-row">

        <!-- CIRCULAR PROGRESS GROUP -->
        <div class="px-5 flex md:w-1/2 mx-auto py-7 md:py-0">
          <div class="px-2">
            <h2 class="py-5">T2 paint temp</h2>
            <div class="radial-progress bg-gray-700 text-yellow-700 border-4 border-gray-700"
                 style="--value:70; --size:6rem">125°c
            </div>
          </div>
          <div class="px-2">
            <h2 class="py-5">T2 oil temp</h2>
            <div class="radial-progress bg-gray-700 text-orange-700 border-4 border-gray-700"
                 style="--value:70; --size:6rem">88°c
            </div>
          </div>
        </div>

        <!-- ICON GROUP -->
        <div class=" md:w-1/2 mx-auto py-7 md:py-0">
          <div class="flex justify-center items-center">
            <i class="bi bi-thermometer-high text-yellow-500"></i>
            <h2 class="py-5 px-3">T1 Burner</h2>
            <button class="px-3 py-1 bg-gray-600 mx-5 text-red-500">OFF</button>
          </div>
          <div class="flex justify-center items-center">
            <i class="bi bi-arrow-left-right"></i>
            <h2 class="py-5 px-3">T2 Mixer</h2>
            <button class="px-3 py-1 bg-gray-600 mx-5 text-lime-400">ON</button>
          </div>
          <div class="flex justify-center items-center">
            <i class="bi bi-alarm-fill"></i>
            <h2 class="py-5 px-3">T2 Alarm</h2>
            <button class="px-3 py-1 bg-gray-600 mx-5 text-red-500">OFF</button>
          </div>
        </div>
      </div>
      <div class="flex flex-col md:flex-row">

        <!-- CIRCULAR PROGRESS GROUP -->
        <div class="px-5 flex md:w-1/2 mx-auto py-7 md:py-0">
          <div class="px-2">
            <h2 class="py-5">T3 paint temp</h2>
            <div class="radial-progress bg-gray-700 text-cyan-700 border-4 border-gray-700"
                 style="--value:70; --size:6rem">163°c
            </div>
          </div>
          <div class="px-2">
            <h2 class="py-5">T3 oil temp</h2>
            <div class="radial-progress bg-gray-700 text-cyan-500 border-4 border-gray-700"
                 style="--value:70; --size:6rem">188°c
            </div>
          </div>
        </div>

        <!-- ICON GROUP -->
        <div class=" md:w-1/2 mx-auto py-7 md:py-0">
          <div class="flex justify-center items-center">
            <i class="bi bi-thermometer-high text-yellow-500"></i>
            <h2 class="py-5 px-3">T3 Burner</h2>
            <button class="px-3 py-1 bg-gray-600 mx-5 text-lime-400">ON</button>
          </div>
          <div class="flex justify-center items-center">
            <i class="bi bi-arrow-left-right"></i>
            <h2 class="py-5 px-3">T3 Mixer</h2>
            <button class="px-3 py-1 bg-gray-600 mx-5 text-red-500">OFF</button>
          </div>
          <div class="flex justify-center items-center">
            <i class="bi bi-alarm-fill"></i>
            <h2 class="py-5 px-3">T3 Alarm</h2>
            <button class="px-3 py-1 bg-gray-600 mx-5 text-lime-400">ON</button>
          </div>
        </div>
      </div>
      <div class="flex flex-col md:flex-row">

        <!-- CIRCULAR PROGRESS GROUP -->
        <div class="px-5 flex md:w-1/2 mx-auto py-7 md:py-0">
          <div class="px-2">
            <h2 class="py-5">T4 paint temp</h2>
            <div class="radial-progress bg-gray-700 text-pink-600 border-4 border-gray-700"
                 style="--value:70; --size:6rem">200°c
            </div>
          </div>
          <div class="px-2">
            <h2 class="py-5">T4 oil temp</h2>
            <div class="radial-progress bg-gray-700 text-rose-500 border-4 border-gray-700"
                 style="--value:70; --size:6rem">200°c
            </div>
          </div>
        </div>

        <!-- ICON GROUP -->
        <div class=" md:w-1/2 mx-auto py-7 md:py-0">
          <div class="flex justify-center items-center">
            <i class="bi bi-thermometer-high text-yellow-500"></i>
            <h2 class="py-5 px-3">T4 Burner</h2>
            <button class="px-3 py-1 bg-gray-600 mx-5 text-red-500">OFF</button>
          </div>
          <div class="flex justify-center items-center">
            <i class="bi bi-arrow-left-right"></i>
            <h2 class="py-5 px-3">T4 Mixer</h2>
            <button class="px-3 py-1 bg-gray-600 mx-5  text-lime-400">ON</button>
          </div>
          <div class="flex justify-center items-center">
            <i class="bi bi-alarm-fill"></i>
            <h2 class="py-5 px-3">T4 Alarm</h2>
            <button class="px-3 py-1 bg-gray-600 mx-5 text-red-500">OFF</button>
          </div>
        </div>
      </div>
    </div>

    <hr class="border-gray-500 my-5"/>

    <div class="flex flex-col md:flex-row justify-between md:text-sm lg:text-regular pb-20">
      <div class="px-3 lg:px-7 py-7 md:py-0">
        <div class="flex justify-center items-center">
          <i class="bi bi-stopwatch-fill text-yellow-500"></i>
          <h2 class="py-5 px-3">Oil pump yellow</h2>
          <button class="px-3 py-1 bg-gray-600 mx-5 text-red-500">OFF</button>
        </div>
        <div class="flex justify-center items-center">
          <i class="bi bi-stopwatch-fill"></i>
          <h2 class="py-5 px-3">Oil pump white</h2>
          <button class="px-3 py-1 bg-gray-600 mx-5 text-red-500">OFF</button>
        </div>
        <div class="flex justify-center items-center">
          <i class="bi bi-lightbulb"></i>
          <h2 class="py-5 px-3">Platform light(s)</h2>
          <button class="px-3 py-1 bg-gray-600 mx-5 text-red-500">OFF</button>
        </div>
      </div>
      <div class="px-3 lg:px-7 py-7 md:py-0">
        <div class="flex justify-center items-center">
          <i class="bi bi-clipboard2"></i>
          <h2 class="py-5 px-3 pr-10 lg:pr-14">Diesel level</h2>
          <button class="px-3 py-1 bg-gray-600 mx-5">100%</button>
        </div>
        <div class="flex justify-center items-center">
          <i class="bi bi-bezier"></i>
          <h2 class="py-5 px-3">Applicator temp L</h2>
          <button class="px-3 py-1 bg-gray-600 mx-5">200°c</button>
        </div>
        <div class="flex justify-center items-center">
          <i class="bi bi-bezier"></i>
          <h2 class="py-5 px-3">Applicator temp R</h2>
          <button class="px-3 py-1 bg-gray-600 mx-5">250°c</button>
        </div>
      </div>
      <div class="px-3 lg:px-7 py-7 md:py-0">
        <div class="flex justify-center items-center">
          <i class="bi bi-alarm-fill"></i>
          <h2 class="py-5 px-3">Hydro-temp alarm</h2>
          <button class="px-3 py-1 bg-gray-600 mx-5 text-red-500">OFF</button>
        </div>
        <div class="flex justify-center items-center">
          <i class="bi bi-alarm-fill"></i>
          <h2 class="py-5 px-3">Hydro-level alarm </h2>
          <button class="px-3 py-1 bg-gray-600 mx-5 text-red-500">OFF</button>
        </div>
        <div class="flex justify-center items-center">
          <i class="bi bi-alarm-fill"></i>
          <h2 class="py-5 px-3">Diesel level alarm</h2>
          <button class="px-3 py-1 bg-gray-600 mx-5 text-red-500">OFF</button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="fixed z-50 bottom-0 lg:hidden w-full" style="background-color: #3C3E40">
  <div class="flex justify-around">
    <div class="px-5 py-4 rounded mx-2 cursor-pointer hover:bg-gray-800">
      <i class="bi bi-house-door-fill  text-3xl text-gray-200"></i>
    </div>
    <div class="px-5 py-4 rounded mx-2 cursor-pointer hover:bg-gray-800">
      <i class="bi bi-sliders text-3xl text-gray-200"></i>
    </div>
    <div class="px-5 py-4 rounded mx-2 cursor-pointer hover:bg-gray-800">
      <i class="bi bi-person-circle text-3xl text-gray-200"></i>
    </div>
    <div class="px-5 py-4 rounded mx-2 cursor-pointer hover:bg-gray-800">
      <i class="bi bi-gear-fill text-3xl text-gray-200"></i>
    </div>
  </div>
</section>
